#header {
  margin: 10px;
  margin-top: 10px;
  padding: 0;
  position: sticky;
  font-size: 4em;
  font-weight: bold;
}

#handwashing {
  width: 4em;
  height: 4em;
  display: inline-block;
  /* position: relative; */
  bottom: 5em;
  /* left: 65em; */
}

.containerFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

figure {
  text-align: center;
  padding-top: 15px;
}
