.sky {
  height: 75vh;
  background-color: lightblue;
}

.buttons {
  position: relative;
  display: inline-flex;
  justify-content: space-between;

  /* top: 27em; */
}

.btn.btn-default {
  /* margin-right: 100px; */
}
